.App {
  color: black;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.NavBar {
  background-color: #002E3C;
  padding: 20px;
  width: calc(100% - 40px);
}

.Main {
  height: 100%;
  background-color: #D9D9D9;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  height: calc(100% - 40px);
}

.Greeting {
  padding: 40px 0; 
  font-size: 32px;
  font-weight: bold;
}

.WidgetsContainer {
  padding: 20px 0;
  height: calc(100% - 40px);
  background-color: rgba(100, 100, 100, 0.3);
  width: calc(100% - 64px);
  transition: width 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  color: white;
}

.DummyWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003A3C;
  border-radius: 16px;
  -webkit-box-shadow: 12px 12px 0px 0px rgba(30, 30, 30, 1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(30, 30, 30, 1);
  box-shadow: 12px 12px 0px 0px rgba(30, 30, 30, 1);
}

.SideBar {
  margin: 0 20px;
  height: 100%;
  border-radius: 56px;
  background: #002E3C;
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.VisibilityToggle {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background: #608081;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.5s;
  margin: 1px;
}

.VisibilityToggle:hover {
  background: #608081;
}
