.App {
  color: black;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.NavBar {
  background-color: #002E3C;
  padding: 20px;
  width: calc(100% - 40px);
}

.Main {
  height: 100%;
  background-color: #D9D9D9;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  height: calc(100% - 40px);
}

.Greeting {
  padding: 40px 0; 
  font-size: 32px;
  font-weight: bold;
}

.SideBar {
  background-color: #CBCBCB;
  padding: 20px;
  height: calc(100% - 40px);
  transition: width 0.5s;
}

.WidgetsContainer {
  padding: 20px 0;
  height: calc(100% - 40px);
  background-color: rgba(100, 100, 100, 0.3);
  transition: width 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.SideBarOpenButton, .SideBarCloseButton {
  cursor: pointer;
  margin-left: calc(100% - 32px);
  border-radius: 50%;
  transition: background 0.5s;
}

.SideBarOpenButton:hover, .SideBarCloseButton:hover {
  background-color: gray;
}

.DummyWidget {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003A3C;
  border-radius: 16px;
  -webkit-box-shadow: 12px 12px 0px 0px rgba(30, 30, 30, 1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(30, 30, 30, 1);
  box-shadow: 12px 12px 0px 0px rgba(30, 30, 30, 1);
}

.WidgetCloseButton {
  position: relative;
  top: -40%;
  right: -45%;
}

.WidgetCloseButtonIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.WidgetCloseButtonIcon:hover {
  background-color: green;
}
